# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: "recursive"

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.26"

      - name: Test Antfly Go
        run: cd antfly && go test -v ./...

      - name: Test Antfly Genkit
        run: cd antfly-genkit && go test -v ./...

      - name: Test Docsaf
        run: cd docsaf && go test -v ./...

      - name: Test OpenRouter Genkit
        run: cd openrouter-genkit && go test -v ./...
